# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log

# Environment
*.local
.env
.env.*

# macOS
.DS_Store

# Neovim
*.sw?
*.swo
*.swn
.netrwhist
tags

# Claude Code
.claude

# VS Code / Cursor
.vscode/*
!.vscode/extensions.json

# IDE
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
